$breakpoints: (
  'tiny':   (max-width:  797px),
  'small':  (min-width:  798px),
  'medium': (min-width:  992px),
  'large':  (min-width:  1200px),
);
//Mixin
@mixin breakpoint($name) {
      @if map-has-key($breakpoints, $name) {
        @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  @else {
    @warn "Couldn't find a breakpoint named `#{$name}`.";
  }
}
