* {
  margin: 0;
  padding: 0;
}

.container {
  display: none;
  width: 95%;
}

h1 {
  margin-top: 1em;
}

header h1 {
  margin-top: 2em;
}

.header-button {
  display: block;
  font-size: 2em;
  background-color: $white;
  margin: 1.8em auto;
  border: 0;
  color: $dark-grey;
}

.header-button:hover {
  color: $button-hover;
}

.header-button-hidden {
  display: none;
  font-size: 2em;
  background-color: $white;
  margin: 1.8em auto;
  border: 0;
  color: $dark-grey;
}

.header-button-hidden:hover {
  color: $button-hover;
}

.button {
  background-color: $white;
  border: 0;
  color: $dark-grey;
  margin: 1em;
  text-align: center;
}

.button:hover {
  color: $button-hover;
}

.after-sign-in {
  display: none;
}

.submit-button {
  background-color: $dark-grey;
  border-radius: 0px;
  border: 0;
}

.submit-button:hover {
  background-color: $medium-grey;
}

.btn-default {
  border-radius: 0px;
}

.tile {
  background-color: $light-grey;
  border: .1px solid $white;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
}

.active-tile-x {
  background-color: $player-x;
  border: .1px solid $white;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
}

.active-tile-y {
  background-color: $player-y;
  border: .1px solid $white;
  box-sizing: border-box;
  height: 150px;
  width: 150px;
}

.board-row {
  margin: 0px auto;
}

.score-row {
  margin: 0px auto;
}

.modal-row {
  margin: 15px auto;
}

.modal-content {
  width: 600px;
}

.game-board {
  box-sizing: border-box;
  margin: 3em auto;
  width: 450px;
  background-color: blue;
}

.score-board {
  width: 300px;
  margin-bottom: 2em;
}

.col-xs-6 {
  display: inline;
  text-align: center;
}

.xWin {
  background: $player-x;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.yWin {
  background: $player-y;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}


.tie {
  background-color: rgba(255, 255, 255, .75);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  text-transform: uppercase;
  color: $medium-grey;
  font-size: 2em;
}

.tie p {
  margin-top: 300px;
}

.games-popup {
  display: none;
}
