* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.tile {
  background-color: $light-grey;
  border: .1px solid $white;
  box-sizing: border-box;
  height: 140px;
  width: 33%;
}

.active-tile-x {
  background-color: blue;
  border: .1px solid $white;
  box-sizing: border-box;
  height: 140px;
  width: 33%;
}

.active-tile-y {
  background-color: green;
  border: .1px solid $white;
  box-sizing: border-box;
  height: 140px;
  width: 33%;
}

.game-board {
  box-sizing: border-box;
  margin: 3em auto;
  width: 30%;
}

.score-board {
  display: inline-block;
}

.score-board-group {
  display: inline;
  text-align: center;
}

.score-board h2 {
  display: inline;
  padding: 1em;
}

footer {
  float: right;
}
